In [1]:
import openpyxl
import pandas as pd
import os
import datetime
#from IPython.display import display

In [2]:
def print_full(x):
    df = pd.DataFrame(x)
    pd.set_option('display.max_rows', 2000)
    pd.set_option('display.max_columns', 20)
    display(df)

In [3]:
excelname= "kd"
sheetname = "kd"

wb = openpyxl.load_workbook(str(excelname)+".xlsx")
ws = wb[str(sheetname)]

dataset = []

i = 1
while(ws.cell(row=i, column=1).value!=None):
    row = []
    j = 1
    while(ws.cell(row=i, column=j).value!=None):
        row.append(ws.cell(row=i, column=j).value)
        j = j +1
    dataset.append(row)
    i = i + 1
pd.DataFrame(dataset)

,0,1,2,3,4,5,6,7,8,9,10
0,date,open,high,low,close,rsv,k,d,buy_day,cum_buy_day,sell_day
1,2003/06/30,37.1,37.4,36.92,37.08,0,0,0,0,0,0
2,2003/07/01,37.09,38.1,37.09,38.05,0,0,0,0,0,0
3,2003/07/02,38.17,38.82,38.1,38.69,0,0,0,0,0,0
4,2003/07/03,40.6,40.6,38.81,39,0,0,0,0,0,0
5,2003/07/04,39.1,39.26,38.75,39.26,0,0,0,0,0,0
6,2003/07/07,39.6,41,39.6,41,0,0,0,0,0,0
7,2003/07/08,42,42,40.7,41.19,0,0,0,0,0,0
8,2003/07/09,41.3,41.3,40.81,41.22,0,0,0,0,0,0
9,2003/07/10,41.2,41.2,40.05,40.05,61.6142,50,50,0,0,0
10,2003/07/11,39.6,39.97,39.3,39.91,57.4338,52.4779,50.826,1,1,0
11,2003/07/14,39.95,41,39.92,40.66,65.641,56.8656,52.8392,0,1,0
12,2003/07/15,40.7,40.86,40.19,40.19,44.3077,52.6797,52.786,0,0,1
13,2003/07/16,40.5,40.98,40.24,40.85,64.6154,56.6582,54.0768,1,1,0
14,2003/07/17,40.5,40.65,39.8,39.8,18.5185,43.945,50.6995,0,0,1
15,2003/07/18,39.78,39.98,39.55,39.92,22.963,36.951,46.1167,0,0,0
16,2003/07/21,40,40.25,39.4,39.4,5,26.3007,39.5113,0,0,0
17,2003/07/22,39.41,39.98,39.41,39.98,35.7895,29.4636,36.1621,0,0,0
18,2003/07/23,40.3,40.5,40,40.05,44.1176,34.3483,35.5575,0,0,0
19,2003/07/24,40.2,41.23,40.2,41.23,100,56.2322,42.449,1,1,0
20,2003/07/25,41,41.34,40.85,41.23,94.3299,68.9314,51.2765,0,1,0
21,2003/07/28,41.9,41.94,41.57,41.58,85.8268,74.5632,59.0387,0,1,0
22,2003/07/29,41.54,41.54,40.83,41.02,63.7795,70.9686,63.0154,0,1,0
23,2003/07/30,41,41.02,40.55,40.6,47.2441,63.0605,63.0304,0,1,0
24,2003/07/31,40.66,41,40.44,40.87,57.874,61.3316,62.4642,0,0,1
25,2003/08/01,41.28,41.6,41.05,41.6,86.5613,69.7415,64.8899,1,1,0
26,2003/08/04,41.47,41.55,41.21,41.4,72.1649,70.5493,66.7764,0,1,0
27,2003/08/05,41.5,41.61,40.5,40.5,17.2414,52.78,62.1109,0,0,1
28,2003/08/06,40.2,40.3,40.06,40.23,9.04255,38.2009,54.1409,0,0,0
29,2003/08/07,40.35,40.77,39.97,40.7,37.0558,37.8192,48.7003,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...
3398,2017/03/15,72.8,73,72.6,72.85,83.871,61.9158,43.7229,0,1,0
3399,2017/03/16,73.3,73.85,73.3,73.8,97.8261,73.8859,53.7773,0,1,0
3400,2017/03/17,73.85,74.1,73.75,74,96.0784,81.2834,62.946,0,1,0
3401,2017/03/20,73.95,74.15,73.85,73.95,92.3077,84.9582,70.2834,0,1,0
3402,2017/03/21,74.3,74.9,74.3,74.9,100,89.9721,76.8463,0,1,0
3403,2017/03/22,74.25,74.25,74,74.2,79.1045,86.3496,80.0141,0,1,0
3404,2017/03/23,74.6,74.65,74.15,74.35,80,84.233,81.4204,0,1,0
3405,2017/03/24,74.35,74.4,74.1,74.25,71.7391,80.0684,80.9697,0,0,1
3406,2017/03/27,74,74.4,73.85,74.2,69.5652,76.5673,79.5023,0,0,0
3407,2017/03/28,74.55,74.6,73.95,74.25,59.375,70.8366,76.6137,0,0,0
3408,2017/03/29,74.45,74.5,74,74,21.7391,54.4708,69.2327,0,0,0
3409,2017/03/30,74,74.25,73.9,73.9,4.7619,37.9011,58.7889,0,0,0
3410,2017/03/31,73.95,74.1,73.7,73.7,0,25.2674,47.615,0,0,0
3411,2017/04/05,73.95,74.8,73.95,74.65,86.3636,45.6328,46.9543,0,0,0
3412,2017/04/06,74.8,74.8,74.3,74.4,63.6364,51.634,48.5142,1,1,0
3413,2017/04/07,74.3,74.3,73.4,74.1,50,51.0893,49.3726,0,1,0
3414,2017/04/10,74.1,74.25,74,74.2,57.1429,53.1072,50.6174,0,1,0
3415,2017/04/11,74.1,74.4,73.75,73.9,35.7143,47.3095,49.5148,0,0,1
3416,2017/04/12,73.9,74.1,73.65,74.05,46.4286,47.0159,48.6818,0,0,0
3417,2017/04/13,73.9,74.45,73.9,74.4,71.4286,55.1534,50.839,1,1,0
3418,2017/04/14,73.9,73.9,73.5,73.55,10.7143,40.3404,47.3395,0,0,1
3419,2017/04/17,73.55,73.8,73.35,73.6,17.2414,32.6407,42.4399,0,0,0
3420,2017/04/18,73.85,74,73.5,73.6,17.2414,27.5076,37.4625,0,0,0
3421,2017/04/19,73.1,73.25,72.65,72.8,8.33333,21.1162,32.0137,0,0,0
3422,2017/04/20,72.55,72.9,72.5,72.8,15.3846,19.2057,27.7444,0,0,0
3423,2017/04/21,73.25,73.5,73.1,73.5,51.2821,29.8978,28.4622,1,1,0
3424,2017/04/24,73.9,73.95,73.45,73.65,58.9744,39.59,32.1714,0,1,0
3425,2017/04/25,73.85,74.4,73.7,74.35,94.8718,58.0173,40.7867,0,1,0
3426,2017/04/26,74.7,74.7,74.4,74.55,93.1818,69.7388,50.4374,0,1,0
3427,2017/04/27,74.35,74.5,74.15,74.5,90.9091,76.7955,59.2234,0,1,0

In [4]:

# trade =[[0 for x in range(12)] for y in range(len(dataset))]
trade = []
for i in range(0, len(dataset)):
    row = []
    for j in range(0, 12):
        row.append(0)
    trade.append(row)
trade[0][0] = "date"
trade[0][1] = "open"
trade[0][2] = "high"
trade[0][3] = "low"
trade[0][4] = "close"
trade[0][5] = "rsv"
trade[0][6] = "k"
trade[0][7] = "d"
trade[0][8] = "buy_day"
trade[0][9] = "cum_buy_day"
trade[0][10] = "sell_day"
trade[0][11] = "10ma"
pd.DataFrame(trade)

,0,1,2,3,4,5,6,7,8,9,10,11
0,date,open,high,low,close,rsv,k,d,buy_day,cum_buy_day,sell_day,10ma
1,0,0,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,0,0
10,0,0,0,0,0,0,0,0,0,0,0,0
11,0,0,0,0,0,0,0,0,0,0,0,0
12,0,0,0,0,0,0,0,0,0,0,0,0
13,0,0,0,0,0,0,0,0,0,0,0,0
14,0,0,0,0,0,0,0,0,0,0,0,0
15,0,0,0,0,0,0,0,0,0,0,0,0
16,0,0,0,0,0,0,0,0,0,0,0,0
17,0,0,0,0,0,0,0,0,0,0,0,0
18,0,0,0,0,0,0,0,0,0,0,0,0
19,0,0,0,0,0,0,0,0,0,0,0,0
20,0,0,0,0,0,0,0,0,0,0,0,0
21,0,0,0,0,0,0,0,0,0,0,0,0
22,0,0,0,0,0,0,0,0,0,0,0,0
23,0,0,0,0,0,0,0,0,0,0,0,0
24,0,0,0,0,0,0,0,0,0,0,0,0
25,0,0,0,0,0,0,0,0,0,0,0,0
26,0,0,0,0,0,0,0,0,0,0,0,0
27,0,0,0,0,0,0,0,0,0,0,0,0
28,0,0,0,0,0,0,0,0,0,0,0,0
29,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
3398,0,0,0,0,0,0,0,0,0,0,0,0
3399,0,0,0,0,0,0,0,0,0,0,0,0
3400,0,0,0,0,0,0,0,0,0,0,0,0
3401,0,0,0,0,0,0,0,0,0,0,0,0
3402,0,0,0,0,0,0,0,0,0,0,0,0
3403,0,0,0,0,0,0,0,0,0,0,0,0
3404,0,0,0,0,0,0,0,0,0,0,0,0
3405,0,0,0,0,0,0,0,0,0,0,0,0
3406,0,0,0,0,0,0,0,0,0,0,0,0
3407,0,0,0,0,0,0,0,0,0,0,0,0
3408,0,0,0,0,0,0,0,0,0,0,0,0
3409,0,0,0,0,0,0,0,0,0,0,0,0
3410,0,0,0,0,0,0,0,0,0,0,0,0
3411,0,0,0,0,0,0,0,0,0,0,0,0
3412,0,0,0,0,0,0,0,0,0,0,0,0
3413,0,0,0,0,0,0,0,0,0,0,0,0
3414,0,0,0,0,0,0,0,0,0,0,0,0
3415,0,0,0,0,0,0,0,0,0,0,0,0
3416,0,0,0,0,0,0,0,0,0,0,0,0
3417,0,0,0,0,0,0,0,0,0,0,0,0
3418,0,0,0,0,0,0,0,0,0,0,0,0
3419,0,0,0,0,0,0,0,0,0,0,0,0
3420,0,0,0,0,0,0,0,0,0,0,0,0
3421,0,0,0,0,0,0,0,0,0,0,0,0
3422,0,0,0,0,0,0,0,0,0,0,0,0
3423,0,0,0,0,0,0,0,0,0,0,0,0
3424,0,0,0,0,0,0,0,0,0,0,0,0
3425,0,0,0,0,0,0,0,0,0,0,0,0
3426,0,0,0,0,0,0,0,0,0,0,0,0
3427,0,0,0,0,0,0,0,0,0,0,0,0

In [11]:
for i in range(1, len(trade)):#i從1到(資料列數)的迴圈
    trade[i][0] = dataset[i][0]#trade的第n列第0行=dataset資料集裡的第n列第0行
    trade[i][4] = float(dataset[i][4])
for i in range(10, len(trade)):
    temp = 0
    for j in range(0, 10):
        temp = temp + trade[i-j][4]
    trade[i][11] = temp / 10
for i in range(9, len(trade)):
    lowest = []
    highest = []
    for j in range(0, 9):
        lowest.append(trade[i-j][3])
        highest.append(trade[i-j][2])
    trade[i][5] = (trade[i][4]-min(lowest))/(max(highest)-min(lowest))*100
trade[9][6] = 50
trade[9][7] = 50
for t in range(10, len(trade)):
    trade[t][6] = trade[t-1][6]*2/3 + trade[t][5]*1/3
    trade[t][7] = trade[t-1][7]*2/3 + trade[t][6]*1/3


pd.DataFrame(trade)

,0,1,2,3,4,5,6,7,8,9,10,11
0,date,open,high,low,close,rsv,k,d,buy_day,cum_buy_day,sell_day,10ma
1,2003/06/30,37.1,37.4,36.92,37.08,0,0,0,0,0,0,0
2,2003/07/01,37.09,38.1,37.09,38.05,0,0,0,0,0,0,0
3,2003/07/02,38.17,38.82,38.1,38.69,0,0,0,0,0,0,0
4,2003/07/03,40.6,40.6,38.81,39,0,0,0,0,0,0,0
5,2003/07/04,39.1,39.26,38.75,39.26,0,0,0,0,0,0,0
6,2003/07/07,39.6,41,39.6,41,0,0,0,0,0,0,0
7,2003/07/08,42,42,40.7,41.19,0,0,0,0,0,0,0
8,2003/07/09,41.3,41.3,40.81,41.22,0,0,0,0,0,0,0
9,2003/07/10,41.2,41.2,40.05,40.05,61.6142,50,50,0,0,0,0
10,2003/07/11,39.6,39.97,39.3,39.91,57.4338,52.4779,50.826,0,0,0,39.545
11,2003/07/14,39.95,41,39.92,40.66,65.641,56.8656,52.8392,0,0,0,39.903
12,2003/07/15,40.7,40.86,40.19,40.19,44.3077,52.6797,52.786,0,0,0,40.117
13,2003/07/16,40.5,40.98,40.24,40.85,64.6154,56.6582,54.0768,0,0,0,40.333
14,2003/07/17,40.5,40.65,39.8,39.8,18.5185,43.945,50.6995,0,0,0,40.413
15,2003/07/18,39.78,39.98,39.55,39.92,22.963,36.951,46.1167,0,0,0,40.479
16,2003/07/21,40,40.25,39.4,39.4,5,26.3007,39.5113,0,0,0,40.319
17,2003/07/22,39.41,39.98,39.41,39.98,35.7895,29.4636,36.1621,0,0,0,40.198
18,2003/07/23,40.3,40.5,40,40.05,44.1176,34.3483,35.5575,0,0,0,40.081
19,2003/07/24,40.2,41.23,40.2,41.23,100,56.2322,42.449,0,0,0,40.199
20,2003/07/25,41,41.34,40.85,41.23,94.3299,68.9314,51.2765,0,0,0,40.331
21,2003/07/28,41.9,41.94,41.57,41.58,85.8268,74.5632,59.0387,0,0,0,40.423
22,2003/07/29,41.54,41.54,40.83,41.02,63.7795,70.9686,63.0154,0,0,0,40.506
23,2003/07/30,41,41.02,40.55,40.6,47.2441,63.0605,63.0304,0,0,0,40.481
24,2003/07/31,40.66,41,40.44,40.87,57.874,61.3316,62.4642,0,0,0,40.588
25,2003/08/01,41.28,41.6,41.05,41.6,86.5613,69.7415,64.8899,0,0,0,40.756
26,2003/08/04,41.47,41.55,41.21,41.4,72.1649,70.5493,66.7764,0,0,0,40.956
27,2003/08/05,41.5,41.61,40.5,40.5,17.2414,52.78,62.1109,0,0,0,41.008
28,2003/08/06,40.2,40.3,40.06,40.23,9.04255,38.2009,54.1409,0,0,0,41.026
29,2003/08/07,40.35,40.77,39.97,40.7,37.0558,37.8192,48.7003,0,0,0,40.973
...,...,...,...,...,...,...,...,...,...,...,...,...
3398,2017/03/15,72.8,73,72.6,72.85,83.871,61.9158,43.7229,0,0,0,72.45
3399,2017/03/16,73.3,73.85,73.3,73.8,97.8261,73.8859,53.7773,0,0,0,72.575
3400,2017/03/17,73.85,74.1,73.75,74,96.0784,81.2834,62.946,0,0,0,72.765
3401,2017/03/20,73.95,74.15,73.85,73.95,92.3077,84.9582,70.2834,0,0,0,72.945
3402,2017/03/21,74.3,74.9,74.3,74.9,100,89.9721,76.8463,0,0,0,73.19
3403,2017/03/22,74.25,74.25,74,74.2,79.1045,86.3496,80.0141,0,0,0,73.325
3404,2017/03/23,74.6,74.65,74.15,74.35,80,84.233,81.4204,0,0,0,73.555
3405,2017/03/24,74.35,74.4,74.1,74.25,71.7391,80.0684,80.9697,0,0,0,73.78
3406,2017/03/27,74,74.4,73.85,74.2,69.5652,76.5673,79.5023,0,0,0,73.95
3407,2017/03/28,74.55,74.6,73.95,74.25,59.375,70.8366,76.6137,0,0,0,74.075
3408,2017/03/29,74.45,74.5,74,74,21.7391,54.4708,69.2327,0,0,0,74.19
3409,2017/03/30,74,74.25,73.9,73.9,4.7619,37.9011,58.7889,0,0,0,74.2
3410,2017/03/31,73.95,74.1,73.7,73.7,0,25.2674,47.615,0,0,0,74.17
3411,2017/04/05,73.95,74.8,73.95,74.65,86.3636,45.6328,46.9543,0,0,0,74.24
3412,2017/04/06,74.8,74.8,74.3,74.4,63.6364,51.634,48.5142,0,0,0,74.19
3413,2017/04/07,74.3,74.3,73.4,74.1,50,51.0893,49.3726,0,0,0,74.18
3414,2017/04/10,74.1,74.25,74,74.2,57.1429,53.1072,50.6174,0,0,0,74.165
3415,2017/04/11,74.1,74.4,73.75,73.9,35.7143,47.3095,49.5148,0,0,0,74.13
3416,2017/04/12,73.9,74.1,73.65,74.05,46.4286,47.0159,48.6818,0,0,0,74.115
3417,2017/04/13,73.9,74.45,73.9,74.4,71.4286,55.1534,50.839,0,0,0,74.13
3418,2017/04/14,73.9,73.9,73.5,73.55,10.7143,40.3404,47.3395,0,0,0,74.085
3419,2017/04/17,73.55,73.8,73.35,73.6,17.2414,32.6407,42.4399,0,0,0,74.055
3420,2017/04/18,73.85,74,73.5,73.6,17.2414,27.5076,37.4625,0,0,0,74.045
3421,2017/04/19,73.1,73.25,72.65,72.8,8.33333,21.1162,32.0137,0,0,0,73.86
3422,2017/04/20,72.55,72.9,72.5,72.8,15.3846,19.2057,27.7444,0,0,0,73.7
3423,2017/04/21,73.25,73.5,73.1,73.5,51.2821,29.8978,28.4622,0,0,0,73.64
3424,2017/04/24,73.9,73.95,73.45,73.65,58.9744,39.59,32.1714,0,0,0,73.585
3425,2017/04/25,73.85,74.4,73.7,74.35,94.8718,58.0173,40.7867,0,0,0,73.63
3426,2017/04/26,74.7,74.7,74.4,74.55,93.1818,69.7388,50.4374,0,0,0,73.68
3427,2017/04/27,74.35,74.5,74.15,74.5,90.9091,76.7955,59.2234,0,0,0,73.69

In [12]:
for i in range(10, len(trade)):
    if (trade[i][6] > trade[i][7])and(trade[i-1][9]==0):
        trade[i][8] = 1#買
        trade[i][9] = 1#持有
        trade[i][10] = 0#不賣出
    elif(trade[i][6] < trade[i][7])and(trade[i-1][9]==1):
        trade[i][8] = 0#不買
        trade[i][9] = 0#沒持有
        trade[i][10] = 1#賣出
    elif(trade[i-1][9]>0):
        trade[i][8] = 0#不買
        trade[i][9] = 1#持有
        trade[i][10] = 0#不賣出
pd.DataFrame(trade)

,0,1,2,3,4,5,6,7,8,9,10,11
0,date,open,high,low,close,rsv,k,d,buy_day,cum_buy_day,sell_day,10ma
1,2003/06/30,37.1,37.4,36.92,37.08,0,0,0,0,0,0,0
2,2003/07/01,37.09,38.1,37.09,38.05,0,0,0,0,0,0,0
3,2003/07/02,38.17,38.82,38.1,38.69,0,0,0,0,0,0,0
4,2003/07/03,40.6,40.6,38.81,39,0,0,0,0,0,0,0
5,2003/07/04,39.1,39.26,38.75,39.26,0,0,0,0,0,0,0
6,2003/07/07,39.6,41,39.6,41,0,0,0,0,0,0,0
7,2003/07/08,42,42,40.7,41.19,0,0,0,0,0,0,0
8,2003/07/09,41.3,41.3,40.81,41.22,0,0,0,0,0,0,0
9,2003/07/10,41.2,41.2,40.05,40.05,61.6142,50,50,0,0,0,0
10,2003/07/11,39.6,39.97,39.3,39.91,57.4338,52.4779,50.826,1,1,0,39.545
11,2003/07/14,39.95,41,39.92,40.66,65.641,56.8656,52.8392,0,1,0,39.903
12,2003/07/15,40.7,40.86,40.19,40.19,44.3077,52.6797,52.786,0,0,1,40.117
13,2003/07/16,40.5,40.98,40.24,40.85,64.6154,56.6582,54.0768,1,1,0,40.333
14,2003/07/17,40.5,40.65,39.8,39.8,18.5185,43.945,50.6995,0,0,1,40.413
15,2003/07/18,39.78,39.98,39.55,39.92,22.963,36.951,46.1167,0,0,0,40.479
16,2003/07/21,40,40.25,39.4,39.4,5,26.3007,39.5113,0,0,0,40.319
17,2003/07/22,39.41,39.98,39.41,39.98,35.7895,29.4636,36.1621,0,0,0,40.198
18,2003/07/23,40.3,40.5,40,40.05,44.1176,34.3483,35.5575,0,0,0,40.081
19,2003/07/24,40.2,41.23,40.2,41.23,100,56.2322,42.449,1,1,0,40.199
20,2003/07/25,41,41.34,40.85,41.23,94.3299,68.9314,51.2765,0,1,0,40.331
21,2003/07/28,41.9,41.94,41.57,41.58,85.8268,74.5632,59.0387,0,1,0,40.423
22,2003/07/29,41.54,41.54,40.83,41.02,63.7795,70.9686,63.0154,0,1,0,40.506
23,2003/07/30,41,41.02,40.55,40.6,47.2441,63.0605,63.0304,0,1,0,40.481
24,2003/07/31,40.66,41,40.44,40.87,57.874,61.3316,62.4642,0,0,1,40.588
25,2003/08/01,41.28,41.6,41.05,41.6,86.5613,69.7415,64.8899,1,1,0,40.756
26,2003/08/04,41.47,41.55,41.21,41.4,72.1649,70.5493,66.7764,0,1,0,40.956
27,2003/08/05,41.5,41.61,40.5,40.5,17.2414,52.78,62.1109,0,0,1,41.008
28,2003/08/06,40.2,40.3,40.06,40.23,9.04255,38.2009,54.1409,0,0,0,41.026
29,2003/08/07,40.35,40.77,39.97,40.7,37.0558,37.8192,48.7003,0,0,0,40.973
...,...,...,...,...,...,...,...,...,...,...,...,...
3398,2017/03/15,72.8,73,72.6,72.85,83.871,61.9158,43.7229,0,1,0,72.45
3399,2017/03/16,73.3,73.85,73.3,73.8,97.8261,73.8859,53.7773,0,1,0,72.575
3400,2017/03/17,73.85,74.1,73.75,74,96.0784,81.2834,62.946,0,1,0,72.765
3401,2017/03/20,73.95,74.15,73.85,73.95,92.3077,84.9582,70.2834,0,1,0,72.945
3402,2017/03/21,74.3,74.9,74.3,74.9,100,89.9721,76.8463,0,1,0,73.19
3403,2017/03/22,74.25,74.25,74,74.2,79.1045,86.3496,80.0141,0,1,0,73.325
3404,2017/03/23,74.6,74.65,74.15,74.35,80,84.233,81.4204,0,1,0,73.555
3405,2017/03/24,74.35,74.4,74.1,74.25,71.7391,80.0684,80.9697,0,0,1,73.78
3406,2017/03/27,74,74.4,73.85,74.2,69.5652,76.5673,79.5023,0,0,0,73.95
3407,2017/03/28,74.55,74.6,73.95,74.25,59.375,70.8366,76.6137,0,0,0,74.075
3408,2017/03/29,74.45,74.5,74,74,21.7391,54.4708,69.2327,0,0,0,74.19
3409,2017/03/30,74,74.25,73.9,73.9,4.7619,37.9011,58.7889,0,0,0,74.2
3410,2017/03/31,73.95,74.1,73.7,73.7,0,25.2674,47.615,0,0,0,74.17
3411,2017/04/05,73.95,74.8,73.95,74.65,86.3636,45.6328,46.9543,0,0,0,74.24
3412,2017/04/06,74.8,74.8,74.3,74.4,63.6364,51.634,48.5142,1,1,0,74.19
3413,2017/04/07,74.3,74.3,73.4,74.1,50,51.0893,49.3726,0,1,0,74.18
3414,2017/04/10,74.1,74.25,74,74.2,57.1429,53.1072,50.6174,0,1,0,74.165
3415,2017/04/11,74.1,74.4,73.75,73.9,35.7143,47.3095,49.5148,0,0,1,74.13
3416,2017/04/12,73.9,74.1,73.65,74.05,46.4286,47.0159,48.6818,0,0,0,74.115
3417,2017/04/13,73.9,74.45,73.9,74.4,71.4286,55.1534,50.839,1,1,0,74.13
3418,2017/04/14,73.9,73.9,73.5,73.55,10.7143,40.3404,47.3395,0,0,1,74.085
3419,2017/04/17,73.55,73.8,73.35,73.6,17.2414,32.6407,42.4399,0,0,0,74.055
3420,2017/04/18,73.85,74,73.5,73.6,17.2414,27.5076,37.4625,0,0,0,74.045
3421,2017/04/19,73.1,73.25,72.65,72.8,8.33333,21.1162,32.0137,0,0,0,73.86
3422,2017/04/20,72.55,72.9,72.5,72.8,15.3846,19.2057,27.7444,0,0,0,73.7
3423,2017/04/21,73.25,73.5,73.1,73.5,51.2821,29.8978,28.4622,1,1,0,73.64
3424,2017/04/24,73.9,73.95,73.45,73.65,58.9744,39.59,32.1714,0,1,0,73.585
3425,2017/04/25,73.85,74.4,73.7,74.35,94.8718,58.0173,40.7867,0,1,0,73.63
3426,2017/04/26,74.7,74.7,74.4,74.55,93.1818,69.7388,50.4374,0,1,0,73.68
3427,2017/04/27,74.35,74.5,74.15,74.5,90.9091,76.7955,59.2234,0,1,0,73.69